@import url('https://fonts.googleapis.com/css2?family=Prompt&display=swap');
*{
  font-family: 'Prompt', sans-serif;
}
.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  color: #333;
  text-align: center;
}
img {
  width: 600px;
  height: 600px;
}
